*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  padding: 0%;
  margin: 0%;
}

.title {
  color: rgb(83, 170, 182);
  text-align: center;
  margin-top: 24px;
  font-weight: bold;
  font-size: 3.5rem;
  font-family: "MochiyPopPOne-Regular", Arial, Helvetica, sans-serif, Impact,
    "Haettenschweiler", "Arial Narrow Bold";
}

.grid-container {
  display: grid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 50px;
}

.boxes {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3em;
  background-color: white;
  width: 100px;
  height: 100px;
  margin: 8px;
}

.clear-button {
  cursor: pointer;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: grey;
  color: rgb(83, 170, 182);
  font-weight: bold;
  font-size: 18px;
}
